body, html, p, div, h1, h2, h3, h4, h5, h6, span, input, button, a {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif; /* Aplica la fuente DM Sans globalmente */
  background-color: #f4f4f9;
  color: #333;
}
.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #f5c6cb;
  }
  