<div class="app-container">
  <header>
    <h1>Aplicación GitHub Search <i class="fab fa-github"></i></h1>
    <nav>
      <a href="#">Inicio</a>      
      <a href="#">Acerca de</a>
      <a href="#">Contacto</a>
    </nav>
  </header>

  <!-- Contenedor -->
  <main>
    <app-notification [message]="notificationMessage"></app-notification>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer>
    <p>© 2024 Aplicación GitHub Search. Todos los derechos reservados.</p>
  </footer>
</div>
